<section class="content-header">
  <h1>
    Courses
    <small>all the available courses in Lessn</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Courses</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <!-- <h3 class="box-title">Condensed Full Width Table</h3> -->
          <button type="button" class="btn btn-success add_course">Add New</button>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <table class="table table-bordered">
            <tr>
              <th>Sr No:</th>
              <th>Name</th>
              <th>Code</th>
              <th>University</th>
              <th>Credit</th>
              <th>Timing</th>
              <th>Actions</th>
            </tr>
        	<%
      			courses.Items.forEach(function(course, index) {
      				%>
      				<tr>
      					<td><%= (index+1) %></td>
                <td><%= course.name ? course.name: '-' %></td>
                <td><%= course.code ? course.code: '-' %></td>
                <td><%= course.university_uuid ? course.university_uuid: '-' %></td>
                <td><%= course.credit ? course.credit: '-' %></td>
                <td>
                  <%= course.from_time ? course.from_time: 'N/A' %> - <%= course.to_time ? course.to_time: 'N/A' %>
                </td>
                <td>
                  <a href="javascript:getCourse('<%= course.SK %>')" class="edit_record" data-edit_uuid="<%= course.SK %>" data-action="edit" data-name="<%= course.name %>"  data-code="<%= course.code %>"  data-university_uuid="<%= course.university_uuid %>"  data-credit="<%= course.credit %>"  data-from_time="<%= course.from_time %>"  data-to_time="<%= course.to_time %>"><i class="fa fa-pencil" style="color: orange"></i></a>                    
                  <a href="javascript:deleteCourse('<%= course.SK %>')"><i class="fa fa-trash" style="color: red"></i></a>                    
                </td>
      				</tr>    
      				<%
      			});
      		%>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>

  </div>
</section>
<!-- /.content -->

<%- include ../courses/add_course.ejs %>